<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Agregar Contacto</title>
</head>
<body>
    <h1>Agregar Contacto</h1>
    <form method="POST" action="{{ url_for('add_contact') }}">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="phone">Teléfono:</label>
        <input type="text" id="phone" name="phone" required><br>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>
